<!DOCTYPE html>
<title>Register</title>

<body>
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <form action="/register" method='post'>

      <label for="email">email</label><br>
      <input type="text" id="email" name="email"><br>
      <label for="password">password</label><br>
      <input type="password" id="password" name="password" required><br>
      <label for="password">Repeat password</label><br>
      <input type="password" id="password2" name="password2" required><br>

      <button type="submit">Register Now </button>

 </form>
  
    <p>Already have an account? <a href="http://127.0.0.1:5500/Flask_project/templates/login_page.html">Sign in</a>.</p>
  </div>
</form>



</body>